:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
          120deg,
          #e30909 30%,
          #0a9ae8
  );
  --vp-home-hero-image-background-image: linear-gradient(
          -45deg,
          #e30909 50%,
          #0a9ae8 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}

/* used in reference/default-theme-search */
img[src='/search.png'] {
  width: 100%;
  aspect-ratio: 1 / 1;
}

img[title="apeirora_logo"] {
  width: 400px;
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

html.dark img[title="apeirora_logo"] {
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
  0 3.5px 6px hsla(0, 0%, 100%, 0.44);
  border-radius: 12px;
}